:root{
    --bg-color:#333333;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#body-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
/*Accueil*/
#main-accueil{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.accueil-img1{
    width: 20%;
}

.accueil-img2{
    width: 10%;
}

.description{
    text-align: center;
    margin-bottom: 2%;
}

.description button{
    padding: 2%;
    border-radius: 17px;
}

/*page cv*/

#main-cv{
    display: flex;
    width: 595px;
    height: 842px;
    margin: 0 auto;
    background-color: white;
}
.gauche{
    width: 40%;
    height: 100%;
    margin-left: 5%;
    background-color: #D9D9D9; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.body-gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: white;
    border-radius: 0 0 50vh 50Vh;
    text-align: center;  
}
.head-gauche h1{
    padding-top: 10%;
    margin-bottom: 0;
    font-size: 16px;
}
.head-gauche h2{
    font-size: 14px;
    font-weight: normal;
}

.adresse{
    font-size: 8px;
    display: flex;
    align-items: center;
}
.adresse img{
    width: 12px;
    height: 12px;
}

.foot-gauche{
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: white;
    border-radius: 48vh 48vh 0 0;
    text-align: center;
}
.foot-gauche .titre{
    padding-top: 5%;
}
.foot-gauche .icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.parcour h2{
    font-size: 14px;
}
.parcour p{
    font-size: 12px;
}

.droite{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.droite h2{
    font-size: 14px;
}
.droite p{
    text-align: justify;
    font-size: 12px;
}
.droite .titre{
    margin-top: 5%;
}
.titre{
    display: flex;
    flex-direction: column;

}
.icon-titre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-titre h1{
    font-size: 16px;
    padding-left: 2%;
}
.icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    width: 60%;
    height: 60%;
}

.photo-profil{
    background-color: white;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3.5%;
}
.photo-profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.element-competence{
    display: flex;
    justify-content: space-between;
}
.competence{
    display: flex;
}
.bare-competence{
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.bare-competence .bare1, .bare2{
    width: 30px;
    height: 5px;
    background-color: var(--bg-color);
}
.bare1{
    border-radius: 30% 0 0 30%;
}
.bare2{
    background-color: #D9D9D9;
    width: 10px;
    border-radius: 0 50% 50% 0;
}

.langue-hobbie{
    display: flex;
    justify-content: space-between;
}

.titre ul{
    padding-left: 20%;
}

input[type="color"] {
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  .couleur{
    display: flex;
  }
.boite-couleur{
    display: flex;
    align-items: center;
}
.bouton-retour {
    position: relative;
    left: 30%;
    margin-top: 1%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #b36555; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bouton-retour:hover {
    background-color: #cb0b0b; 
}  
.controls{
    margin-top: 1%;
    margin-bottom: 1%;
}
.controls button{
    background-color: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.couleur{
    margin-top: 1%;
}
.couleur button{
    margin-left: 1%;
}
/*responsive page cv*/
@media(max-width : 700px) {
    #main-cv{
        width: 100%;
        margin: 0;
    }
    .foot-gauche .titre{
        padding-top: 40%;
    }
    .controls{
        margin-top: 20%;
    }
}
@media(max-width : 430px) {
    #main-cv{
        width: 100%;
        height: 111vh;
        margin: 0;
    }
    .gauche{
        height: 100%;
    }
    .foot-gauche .titre{
        padding-top: 45%;
    }
    .controls{
        margin-top: 5%;
        width: 50%;
    }
    .foot-gauche .icon{
        width: 12px;
        height: 12px;
    }
    .icon-titre h1{
        font-size: 12px;
    }
    .icon{
        width: 12px;
        height: 12px;
    }
    .droite{
        padding-top: 0%;
    }
    .droite .titre{
        margin-top: 15%;
    }
    .droite p{
        font-size: 9px;
    }
    .droite h2 {
        font-size: 11px;
    }
    .titre ul {
        font-size: 10px;
    }
    .parcour h2 {
        font-size: 10px;
    }
    .head-gauche h1 {
        font-size: 12px;
    }
    .head-gauche h2 {
        font-size: 10px;
    }
    .adresse img {
        width: 10px;
        height: 10px;
    }
    .langue-hobbie{
        padding-top: 30px;
    }
}
@media(min-width : 431px){
    .icon-titre h1 {
        font-size: 14px;
    }
    .icon {
        width: 14px;
        height: 14px;
    }
    .droite p {
        font-size: 10px;
    }
    .foot-gauche .icon {
        width: 14px;
        height: 14px;
    }
    .parcour h2 {
        font-size: 12px;
    }
    .parcour p {
        font-size: 9px;
    }
    .titre ul li{
        font-size: 12px;
    }
}
@media(max-width : 374px) {
    .head-gauche h1 {
        font-size: 12px;
    }
    #main-cv{
        width: 300px;
        margin: 0;
    }
    .foot-gauche .titre{
        padding-top: 40%;
    }
}
@media(max-width : 410px){
    #main-cv{
        width: 100%;
        margin: 0;
    }
    .droite .titre {
        margin-top: 15%;
    }
    .icon {
        width: 10px;
        height: 10px;
    }
    .icon-titre h1 {
        font-size: 10px;
    }
    .foot-gauche .icon {
        width: 10px;
        height: 10px;
    }
    .parcour p {
        font-size: 10px;
    }
}
@media(max-width : 370px){
    #main-cv{
        width: 100%;
        margin: 0;
    }
}
@media(max-width : 330px){
    #main-cv{
        width: 250px;
        margin: 0;
    }
    .adresse {
        font-size: 5px;
    }
    
    .adresse img {
        width: 5px;
        height: 5px;
    }
}
@media(max-width : 280px){
    #main-cv{
        width: 200px;
        margin: 0;
    }
    .icon-titre h1 {
        font-size: 6px;
    }
    .parcour h2 {
        font-size: 6px;
    }
    .parcour p {
        font-size: 6px;
    }
    .droite h2 {
        font-size: 9px;
    }
    .bare-competence {
        width: 40%;
    }
}
@media(max-width : 220px){
    #main-cv{
        width: 150px;
        margin: 0;
    }
    .icon-titre h1 {
        font-size: 5px;
    }
    .icon {
        width: 5px;
        height: 5px;
    }
    .droite p {
        font-size: 4px;
        width: 80%;
    }
    .competence {
        display: flex;
        width: 40%;
    }
    .droite h2 {
        font-size: 5px;
        width: 83%;
    }
    .titre ul li{
        font-size: 5px;
    }
    .langue-hobbie{
        width: 80%;
    }
    
    .controls button{
        font-size: 5px;
    }
}